<html>

<body>

   <form action="predict_claim" method="POST">
   
      Age: <input type="number" name="age"><br><br>
      Sex: <input type="number" name="sex"><br><br>
      BMI: <input type="number" name="bmi"><br><br>
      Children: <input type="number" name="children"><br><br>
      Smoker: <input type="number" name="smoker"><br><br>
      Region: <input type="number" name="region"><br><br>
      Charges: <input type="number" name="charges"><br><br>
      <input type="submit" value="predict">
   
   
   </form>

</body>

</html>

